@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-content {
  background-color: #f4f4f4;
  margin: 50px auto;
  width: 467px;
  height: 400px;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid #ccc;
  padding: 40px 60px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  transition: all 2.5s;
}
